<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css">

    <title>@ViewData["Title"] - LibraryEMP</title>

    <link rel="stylesheet" href="~/css/Home.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Home.js"></script>
</head>

<body class="d-flex h-100 w-100">
    <div class="d-flex flex-column  col-md-4 w-280p bg-white shadow-sm m-2 p-3">
        <a href="#" class="text-decoration-none d-flex flex-row justify-content-evenly">
            <img src="~/img/books.png" class="h-50p">
            <h3 class="d-flex align-items-center ms-3 mb-3 mb-md-0 me-md-auto link-dark">
                CatLib EMP
            </h3>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a data-request-url="@Url.Action("pageManager")" href="Pret" class="nav-link active" aria-current="page">
                    <i class="bi me-2 fas fa-address-card"></i>
                    Prét
                </a>
            </li>
            <li>
                <a data-request-url="@Url.Action("pageManager")" href="gestion_des_adherents" class="nav-link link-dark">
                    <i class="bi me-2 fas fa-users"></i>
                    gestion des adhérents
                </a>
            </li>
            <li>
                <a data-request-url="@Url.Action("pageManager")" href="Restitution" class="nav-link link-dark">
                    <i class="bi me-2 fas fa-rotate-left"></i>
                    Restitution
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="bi me-2 fas fa-folder-tree"></i>
                    Gestion de documents
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="bi me-2 fas fa-file-circle-question"></i>
                    Avis de disponibilité
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="bi me-2 fas fa-list-check"></i>
                    Listes des Docs et Prét
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="bi me-2 fas fa-bell"></i>
                    Relances
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="bi me-2 fas fa-calendar-check"></i>
                    Listes des Docs Réservés
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="bi me-2 fas fa-globe"></i>
                    Catlib Web Site
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="bi me-2 fas fa-icons"></i>
                    Gestion de Catégories
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="bi me-2 fas fa-gear"></i>
                    Autre Paramètres
                </a>
            </li>
        </ul>
    </div>
    <div id="Page-content" class="overflow-auto bg-white shadow-sm rounded m-2 w-100">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>