@{
    
}
@section Styles {
    <link rel="stylesheet" href="~/css/AutreParamètre.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
}


<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight  position-relative shadow-sm h-100 border rounded m-3 d-flex flex-row div1 ">
        <h5 class="border-title">Jours fériés</h5>

        <div class="d-flex flex-column py-3 justify-content-around w-80 divFerie">

            <div class=" px-4 w-100 h-100">
                <div id="fixed-table-toolbarFeries" class="btn-group">
                    <div class="float-left search m-0 ">
                        <button class="btn btn-primary w-80 addFouries " data-bs-toggle="modal" data-bs-target="#addFeries">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>

                @* data-side-pagination="server" *@
                <table id="FeriesTable"
                       data-locale="fr-FR"
                       data-toggle="table"
                       data-pagination="true"
                       data-toolbar="#fixed-table-toolbarFeries"
                       data-url="@Url.Action("getJouresFeries")"
                       data-page-size="11"
                       data-pagination-parts="['pageInfo', 'pageList']"
                       data-loading-template="loadingTemplate"
                       data-search="true">


                    <thead>
                        <tr>
                            <th data-field="dateJourFeries" data-sortable="true" data-width="15" data-width-unit="%">Date de jour ferier</th>
                            <th data-width="23" data-width-unit="%" data-formatter="operateFormatter" data-events="operateEvents">Operation</th>

                        </tr>
                    </thead>
                </table>


            </div>
        </div>


	</div>

    <div class="p-2 flex-fill bd-highlight  position-relative shadow-sm h-100 border rounded m-3 d-flex flex-row div2">
        <h5 class="border-title">Table Pénalités</h5>

        <div class="d-flex flex-column py-3 justify-content-around w-80 divPenalite h-100">
            <div class=" px-4 w-100 h-100">

                @* data-side-pagination="server" *@
                <table id="adherentTable"
                       data-locale="fr-FR"
                       data-toggle="table"
                       data-pagination="true"
                       data-toolbar="#fixed-table-toolbar"
                       data-url="@Url.Action("getPenalite")"
                       data-page-size="9"
                       data-pagination-parts="['pageInfo', 'pageList']"
                       data-loading-template="loadingTemplate"
                       data-search="true">


                    <thead>
                        <tr>
                            <th data-field="id_Catégorie" data-sortable="true" data-width="10" data-width-unit="%">ID_Catégorie</th>
                            <th data-field="joursRetard" data-sortable="true" data-width="10" data-width-unit="%">Jours Retard</th>
                            <th data-field="nombreJourRetard" data-sortable="true" data-width="10" data-width-unit="%">Nombre jours Retard</th>
                        </tr>
                    </thead>
                </table>


            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">Appliquer</button>
            </div>
        </div>


    </div>
</div>

<div class="modal fade " id="deleteConfirme">

    <div class="modal-dialog modal-dialog-centered  modal-lg ">
            <div class="modal-content " >

                <div class="modal-header">
                    <h5 class="modal-title">Supprimer jour feries</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeButton"></button>
                </div>
                <div class="modal-body">
                <p class="text-center" >êtes-vous sûr de vouloir supprimer le jour feries  <strong id="deleteConfirmationJourFeries"></strong></p>
                </div>

                <div class="modal-footer ">
                    <div class="col d-flex flex-row justify-content-end">
                    <button class="btn btn-primary" type="button" id="saveChangeDeleteJour" data-url="@Url.Action("RemoveJourFeries")" disabled>Save Changes</button>
                    </div>
                </div>
            </div>
    </div>
 
</div>



<div class="modal fade" id="modifiedFouries">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa-solid fa-user-pen me-2"></i>Modifier Jour Feries</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeButtonUpdate"></button>
            </div>
            <div class="modal-body">
                <div class="col rounded m-3 d-flex flex-column align-items-center justify-content-around">
                    <div>
                        <div class="input-group my-3">
                            <span class="input-group-text w-120p" id="basic-addon1">Jour Feries</span>
                            <input type="datetime-local" class="form-control" placeholder="la date de jour feries" aria-label="dateJoursFeries" id="dateJoursFeriesUpdate">
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="col d-flex flex-row justify-content-end">
                    <button class="btn btn-primary" type="button" id="saveChangeUpdateFeries" data-url="@Url.Action("UpdateJourFeries")" disabled>Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addFeries">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa-solid fa-user-pen me-2"></i>Ajouter Jours Feries</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeButtonAdd"></button>
            </div>
            <div class="modal-body">
                <div class="col rounded m-3 d-flex flex-column align-items-center justify-content-around">
                    
                    <div>
                        <div class="input-group my-3">
                            <span class="input-group-text w-120p" id="basic-addon1">Jour Feries</span>
                            <input type="datetime-local" class="form-control" placeholder="la date de jour feries" aria-label="dateJoursFeries" id="dateJoursFeriesAdd">
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="col d-flex flex-row justify-content-end">
                    <button class="btn btn-primary" type="button" id="saveChangeAddFeries" data-url="@Url.Action("AddJourFeries")" disabled>Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/AutreParametre.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table-locale-all.min.js"></script>
}