@{
	ViewData["Title"] = "gestion des adherents";
}

@section Styles {
	<link rel="stylesheet" href="~/css/gestion_des_adherents.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
}

<div class=" px-4 w-100 h-100">
	<div class="d-flex py-2 justify-content-between">
		<div>
			<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAdherentModal">
				<i class="fa-solid fa-user-plus me-2"></i>
				Ajouter Adherent
			</button>
			<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#statistiqueAdherentModal">
				<i class="fa-solid fa-chart-pie me-2"></i>
				Statistique
			</button>
		</div>
		<div class="input-group w-25">
			<input type="text" class="form-control" placeholder="Search" autocomplete="off" id="searchInput" autocomplete="off">
			<span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
		</div>
	</div>
	@* data-side-pagination="server" *@
	<table id="adherentTable"
		   data-locale="fr-FR"
		   data-toggle="table"
		   data-pagination="true"
		   data-url="@Url.Action("getAdherents")"
		   data-page-size="11"
		   data-pagination-parts="['pageInfo', 'pageList']"
		   data-loading-template="loadingTemplate"
		   data-search-selector="#searchInput"
		   data-search="true">


		<thead>
			<tr>
				<th data-field="idAdherent" data-sortable="true" data-width="10" data-width-unit="%">ID</th>
				<th data-field="nom" data-sortable="true" data-width="20" data-width-unit="%">Nom</th>
				<th data-field="prenom" data-sortable="true" data-width="20" data-width-unit="%">Prenom</th>
				<th data-field="position" data-sortable="true" data-width="15" data-width-unit="%">Position</th>
				<th data-field="categorie" data-sortable="true" data-width="15" data-width-unit="%">Categorie</th>
				<th data-field="etat" data-sortable="true" data-width="10" data-width-unit="%">Etat</th>
				<th data-width="10" data-width-unit="%" data-formatter="operateFormatter" data-events="operateEvents">Operation</th>
			</tr>
		</thead>
	</table>


</div>

<input type="hidden" id="getInformation" value="@Url.Action("getInformation")" />



<div class="modal fade" id="statistiqueAdherentModal">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><i class="fa-solid fa-chart-pie me-2"></i>Statistique</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="d-flex flex-row justify-content-center">
								<div id="statistiquePos"></div>
							</div>
							<h4 class="text-center">le pourcentage des Positions différents</h4>
						</div>
						<div class="carousel-item">
							<div class="d-flex flex-row justify-content-center">
								<div id="statistiqueCat"></div>
							</div>
							<h4 class="text-center">le pourcentage des Categories différents</h4>
						</div>
						<div class="carousel-item">
							<div class="d-flex flex-row justify-content-center">
								<div id="statistiqueEta"></div>
							</div>
							<h4 class="text-center">le pourcentage des Etats différents</h4>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="deleteConfirmation">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">confirmation</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>êtes-vous sûr de vouloir supprimer l'utilisateur avec ID =  <strong id="deleteConfirmationID"></strong></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-primary" id="deleteConfirmationButton" data-url="@Url.Action("deleteAdherent")">supprimer</button>
			</div>
		</div>
	</div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1">
	<div id="deleteAdherentSuccessToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header bg-success text-white">
			<strong class="me-auto">Notification</strong>
			<small>À l'instant</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			supprimer Adherent sous-performer avec succès.
		</div>
	</div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1">
	<div id="deleteAdherentFaildToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header bg-danger text-white">
			<strong class="me-auto">Notification</strong>
			<small>À l'instant</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			supprimer Adherent dépasser sans succès.
		</div>
	</div>
</div>


<div class="modal fade" id="addAdherentModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><i class="fa-solid fa-user-plus me-2"></i>Adherent Création</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="col rounded m-3 d-flex flex-column align-items-center justify-content-around">
					<div class="w-100 d-flex justify-content-center">
						<div class="d-flex justify-content-center">
							<img class="w-75" src="~/img/user.png" alt="">
						</div>
					</div>
					<div>
						<div class="input-group my-3">
							<span class="input-group-text w-100p">UserID</span>
							<input id="addUserID" data-url="@Url.Action("isIDAvailable")" type="text" autocomplete="off" class="form-control" placeholder="Username" aria-label="Username">
							<span class="input-group-text"><i class="fa-solid fa-pen"></i></span>
						</div>
						<div class="row">
							<div class="col">
								<div class="input-group mb-2">
									<span class="input-group-text w-100p">Name</span>
									<input id="addName" type="text" class="form-control" autocomplete="off" disabled placeholder="Username">
									<span class="input-group-text"><i class="fa-solid fa-pen"></i></span>
								</div>
								<div class="input-group mb-2">
									<span class="input-group-text w-100p">prename</span>
									<input id="addPrename" type="text" class="form-control" autocomplete="off" disabled placeholder="prename">
									<span class="input-group-text"><i class="fa-solid fa-pen"></i></span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col w-50">
								<div class="input-group mt-2">
									<label class="input-group-text w-120p" for="inputGroupSelect01">position</label>
									<select id="addPos" class="form-select" disabled id="inputGroupSelect01">
									</select>
								</div>

								<div class="input-group mt-2">
									<label class="input-group-text w-120p" for="inputGroupSelect01">Catégorie</label>
									<select id="addCat" class="form-select" disabled id="inputGroupSelect01">
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer ">
				<div class="col d-flex flex-row justify-content-end">
					<button id="addAdherentButton" data-url="@Url.Action("addAdherent")" class="btn btn-primary" type="button" disabled>Ajouter</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1">
	<div id="addAdherentSuccessToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header bg-success text-white">
			<strong class="me-auto">Notification</strong>
			<small>À l'instant</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			Créer un nouveau Adherent sous-performer avec succès.
		</div>
	</div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1">
	<div id="addAdherentFaildToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header bg-danger text-white">
			<strong class="me-auto">Notification</strong>
			<small>À l'instant</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			Créer un nouveau Adherent dépasser sans succès.
		</div>
	</div>
</div>


<div class="modal fade" id="modifiedAdherentModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><i class="fa-solid fa-user-pen me-2"></i>Adherent Edition</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="col rounded m-3 d-flex flex-column align-items-center justify-content-around">
					<div class="w-100 d-flex justify-content-center">
						<div class="d-flex justify-content-center">
							<img class="w-75" src="~/img/user.png" alt="">
						</div>
					</div>
					<div>
						<div class="input-group my-3">
							<span class="input-group-text w-100p">UserID</span>
							<input id="modifiedUserID" data-url="@Url.Action("isIDAvailable")" type="text" class="form-control" placeholder="Username" aria-label="Username">
							<span class="input-group-text"><i class="fa-solid fa-check text-success"></i></span>
						</div>
						<div class="row">
							<div class="col">
								<div class="input-group mb-2">
									<span class="input-group-text w-100p">Name</span>
									<input id="modifiedName" type="text" class="form-control" autocomplete="off" placeholder="Username">
									<span class="input-group-text"><i class="fa-solid fa-check text-success"></i></span>
								</div>
								<div class="input-group mb-2">
									<span class="input-group-text w-100p">prename</span>
									<input id="modifiedPrename" type="text" class="form-control" autocomplete="off" placeholder="prename">
									<span class="input-group-text"><i class="fa-solid fa-check text-success"></i></span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col w-50">
								<div class="input-group mt-2">
									<label class="input-group-text w-120p" for="modifiedPos">position</label>
									<select id="modifiedPos" class="form-select">
									</select>
									<span class="input-group-text"><i class="fa-solid fa-check text-success"></i></span>
								</div>

								<div class="input-group mt-2">
									<label class="input-group-text w-120p" for="modifiedCat">Catégorie</label>
									<select id="modifiedCat" class="form-select">
									</select>
									<span class="input-group-text"><i class="fa-solid fa-check text-success"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer ">
				<div class="col d-flex flex-row justify-content-end">
					<button id="modifiedAdherentModalButton" data-url="@Url.Action("modifiedAdherent")" class="btn btn-primary" type="button" disabled>Sauvegarder les modifications</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1">
	<div id="modifiedAdherentSuccessToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header bg-success text-white">
			<strong class="me-auto">Notification</strong>
			<small>À l'instant</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			modifié Adherent sous-performer avec succès.
		</div>
	</div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1">
	<div id="modifiedAdherentFaildToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header bg-danger text-white">
			<strong class="me-auto">Notification</strong>
			<small>À l'instant</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			modifié Adherent dépasser sans succès.
		</div>
	</div>
</div>



@section Scripts {
	<script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<script src="~/lib/bootstrap-table/dist/bootstrap-table-locale-all.min.js"></script>
	<script src="~/lib/d3js/d3.v7.min.js"></script>
	<script src="~/js/GDA.js"></script>
}